<div class="incioDiv">
     <div class="bannerStory1"></div>
      <div class="bannerStory2"></div>
    <div class="divBannerMovies"></div>
    <div class="aboutDiv">
        <div class="row">
            <br>
            <h5 class="titleVilpa textJust"> <span style="font-weight: bolder; font-size: 2.5rem;">CALEDONIA PRODUCTIONS</span>
                is an independent production company founded by acclaimed Scottish producer <span
                    style="font-weight: bolder; font-size: 2rem;">Patrick Daly</span>, dedicated to championing
                innovative storytelling across theatre, film, and television.
                <br> <br>

                Since its foundation, Caledonia has positioned itself at the intersection of creativity and
                craftsmanship, developing award-winning content while fostering collaborations with renowned talent and
                forward-thinking producers. With recent partnerships extending through Fremantle's Global Drama division
                and longstanding ties to EON Productions, Caledonia continues to shape the future of international
                storytelling. <br> <br>
                <a href="/contact" class="waves-effect waves-light btn #ffab00 amber accent-4 center"
                    style="color: black; font-weight:bolder">Contact</a>
            </h5>
            <br>

        </div>
    </div>
    <div class="awardsDiv ">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image" onclick="window.open('https://variety.com/2019/legit/reviews/sing-street-review-musical-1203445813/', '_blank');">
                            <img src="/assets/images/blue.jpg">
                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image" onclick="window.open('https://www.theatrely.com/post/patrick-dalys-caledonia-productions-signs-first-look-deal-with-fremantles-passenger', '_blank');">
                            <img src="/assets/images/kreativaMontreal.jpg">


                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image" onclick="window.open('https://www.theguardian.com/stage/2025/mar/23/wild-rose-musical-review-royal-lyceum-edinburgh-nicola-taylor-john-tiffany-dawn-sievewright-jessie-buckley', '_blank');">
                            <img src="/assets/images/davidjansenpost.jpg">


                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>